@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*/
.quill-editor {
  border: 1px solid #ccc;

  /* Adjust the height as needed */
}
/* Add this style to set a white background for the Quill editor */
.ql-editor {
  background-color: #fff;
  border: 1px solid #ccc;
  min-height: 100px;
  /* Adjust the height as needed */
}

/* You may also need to style the toolbar if you want it to have a white background */
.ql-toolbar {
  background-color: #fff;
  border: 1px solid #ccc;
}

body {
  overflow-y: scroll;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


